.newEntryButton {
    border-radius: 35px;
    background-color: #3498db;
    color: white;
    border: 2px solid #2980b9;
    font-size: 30px;
    text-align: center;
}

.newEntryButton:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}