.loginPage {
    border:4px solid white;
    border-radius: 250px;
    
    background-color: gray;
}
.VLayout{
    background-color: red;
}
.loginElements{
    background-color: rgb(40, 40, 40);
    border-color: whitesmoke;
    font:medium;
}
.loginElements, select, textarea{
    color: #ffffff;
}